.contact-modal .modal-content {
    position: relative;
    width: 669px;
    height: 900px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    box-shadow: -5px 10px 30px 0px #00000040;
}

.contact-modal .modal-header {
    position: relative;
    width: 100%;
}

.contact-modal .title-container {
    display: flex;
    flex-direction: column;
}

.contact-modal .modal-header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    color: #000;
}

.contact-modal .modal-header .photographer-name {
    font-size: 64px;
    font-weight: normal;
    color: #000;
}

.contact-modal .contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.contact-modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact-modal form label {
    color: #312E2E;
    font-size: 36px;
}

.contact-modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

.contact-modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.contact-modal form textarea {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    margin-bottom: 2.6rem;
    border: none;
    padding: 10px;
    resize: none;
}

.formData[data-error-visible="true"] .error-msg {
    display: block;
    color: #e54858;
    font-size: 0.8em;
    margin-top: 7px;
}

.formData[data-error-visible="true"] input,
.formData[data-error-visible="true"] textarea {
    border: 2px solid #e54858;
}

.error-msg {
    display: none;
}
