.likes-container {
    display: flex;
    gap: 5px;
}

.likes-count {
    font-size: 2.4rem;
    color: #901C1C;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}