.likes-container {
    display: flex;
    gap: 5px;
}

.likes-count {
    font-size: 2.4rem;
    color: #901C1C;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-button.liked img,
.like-button img.liked {
    filter: brightness(0) saturate(100%) invert(45%) sepia(99%) saturate(1622%) hue-rotate(323deg) brightness(98%) contrast(96%);
}